h1 Hello world!!
nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            a.navbar-brand(href="#") WebSiteLogo
        ul.nav.navbar-nav.flex-row
            - var items_menu = [["Home","item-link"],["Noticias","item-link"],["Servicios","item-link"],["Contacto","item-link"],["Nosotros","item-link"],["BLOG","item-link"]];
            - for(var i = 0;i<items_menu.length; i++){
                -if(i==0){
                    li.active
                        a(href="#" data-pos="#{i}" class="#{items_menu[i][1]}") #{items_menu[i][0]}
                -}else{
                    li
                        a(href="#" data-pos="#{i}" class="#{items_menu[i][1]}") #{items_menu[i][0]}
                -}
                    //- - if(items_menu[i][0] == "Nosotros"){
                    //- //- submenu 
                    //- ul.sub_menu
                    //-     - var items_submenu = ["Director","Agente","Medico","Personalizada"];
                    //-     - for(var s = 0;s<items_submenu.length; s++){
                    //-     li  
                    //-         a(href="#"  data-pos="#{s}" ) #{items_submenu[s]}
                    //-     -}
                    //- -}
            -}
hr